name: Actions Workflow

on: [push]

jobs:
 run-github-actions:
  runs-on: ubuntu-latest
  steps:
    - name: simple js action
      id: greet
      uses: actions/hello-world-javascript-action@main
      with:
        who-to-greet: germione
    - name: log greeting time
      run: echo "${{ steps.greet.outputs.time}}"