name: Matrix

on: push

jobs:
  node-version:
    runs-on: ubuntu-latest
    steps:
      - name: Log Node Version
        run: node -v
      - uses: actions/setup-node@v2
        with:
          node-version: '8'
      - name: Log Node Version
        run: node -v